<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title th:utext="${title}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
        <link media="screen" rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}" type="text/css"/>
    </head>
    <body>
        <h1 th:utext="${title}" />
        <a th:href="@{/contacts}">Contact List</a>
        <br/><br/>
        <div>Copyright © MAI-TECH.com</div>
    </body>
</html>